<div>
    <h4>Prezzo: {{ product.price }}</h4>
    <h4>Titolo: {{ product.title }}</h4>
</div>
<div class="row">
    <button class="btn btn-info m-1" (click)="handleClick(true)"> Aggiungi al carrello </button>
    <button class="btn btn-warning m-1" (click)="handleClick(false)"> Rimuovi al carrello </button>
    <button class="btn btn-danger m-1" (click)="handleRemove()"> Elimina prodotto </button>
</div>
