<h1 style="text-align: center;">Carrello: {{ cart }}</h1>

<app-signup></app-signup>

<app-product
  *ngFor="let p of products"
  (toggleProduct)="handleToggleProduct($event)"
  (removeProduct)="handleRemoveProduct($event)"
  [product]="p"
></app-product>
