<form [formGroup]="form" (ngSubmit)="handleSubmit()">
    <div>
        <label>Email:</label>
        <input type="text" formControlName="email">
        <div *ngIf="email.touched && email.invalid">
            <p *ngIf="email.hasError('required')"> Campo Obbligatorio </p>
            <p *ngIf="email.hasError('email')"> Email non valida </p>
        </div>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" formControlName="password">
        <div *ngIf="password.touched && password.invalid">
            <p *ngIf="password.hasError('required')"> Campo Obbligatorio </p>
            <p *ngIf="password.hasError('minlength')"> Almeno 8 caratteri </p>
        </div>
    </div>
    <div>
        <label>Conferma password:</label>
        <input type="password" formControlName="confirmPassword">
        <div *ngIf="confirmPassword.touched && confirmPassword.invalid">
            <p *ngIf="confirmPassword.hasError('required')"> Campo Obbligatorio </p>
        </div>
    </div>
    <div>
        <label>Nome:</label>
        <input type="text" formControlName="nome">
        <div *ngIf="nome.touched && nome.invalid">
            <p *ngIf="nome.hasError('required')"> Campo Obbligatorio </p>
            <p *ngIf="nome.hasError('minlength')"> Almeno 3 caratteri </p>
        </div>
    </div>
    <div>
        <label>Cognome:</label>
        <input type="text" formControlName="cognome">
        <div *ngIf="cognome.touched && cognome.invalid">
            <p *ngIf="cognome.hasError('required')"> Campo Obbligatorio </p>
            <p *ngIf="cognome.hasError('minlength')"> Almeno 3 caratteri </p>
        </div>
    </div>
    <div>
        <label>Eta:</label>
        <input type="number" formControlName="eta">
        <div *ngIf="eta.touched && eta.invalid">
            <p *ngIf="eta.hasError('required')"> Campo Obbligatorio </p>
        </div>
    </div>

    <p *ngIf="form.hasError('equal')"> Password diverse</p>

    <button>Accedi</button>
</form>